*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aab
*.class
*.dex
bin/
gen/
out/
*.log
*.jks
.idea/
*.iws
*.ipr
proguard/
crashlytics-build.properties
fabric.properties
fastlane/
Thumbs.db
desktop.ini
